{
  "presets": [
    "es2015",
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "ignore": [
    "node_modules"
  ],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-es2015-parameters",
    "transform-object-rest-spread"
  ]
}
