.tab {
  &__links {
    display: flex;
  }

  &__link {
    flex-direction: column;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

    &--active {

    }

    &--hide {

    }
  }

  &__link-title {

  }

  &__sections {

  }

  &__section {
    position: relative;

    &--active {
      display: block;
    }

    &--hide {
      display: none;
    }
  }

  &__content {
    overflow: hidden;
  }
}
